html{
    box-sizing: border-box;
}

*,*::before,*::after{
    box-sizing: inherit;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #548687;
    overflow: hidden;
    height: 100vh;
    width: 100vw;
    position: relative;

}

h2{
    position: absolute;
    left:150px;
    font-size: xx-large;
    font-weight: bold;
}

#outer{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 60px;
    height: 60vh;
    width: 60VH;
    gap:5px
}

.inner{
    background-color: whitesmoke;
    flex-basis: 32%;
    border-radius: 1rem;
    height: 18vh;
    width: 18vw;
    color: #b0413e;
    box-shadow: 0 0 1re, rgba(0, 0, 0, 0.3);
    font-size: xx-large;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

.restart{
    height: 50px;
    width: 100px;
    padding: 15px 30px;
    border-radius: 10px;
    text-align: center;
    background-color: orange;
    position: absolute;
    left:150px;
    top:170px;
    cursor: pointer;
}

.finish{
    position: absolute;
    left: 482px;
    top: 74px;
    height: 150px;
    width: 240px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: xx-large;
    font-weight: bold;
    border-radius: 1rem;
    padding: 15px 30px;
    color: #b0413e;
    background-color: #333;
    box-shadow: 0 0 1re, rgba(0, 0, 0, 0.3);
}

.disabled{
    opacity: 0.7;
}